input/ISIMIP-HISTORICAL/*.nc4
input/ISIMIP-HISTORICAL/*.tar.gz
src/*.o
src/*.mod
src/*.pyf
src/*.so
src/__pycache__
src/*.npy
src/*.csv
src/*.txt
src/outputs
src/.python-version
run_debug
.vscode
.python-version
