src/*.o
src/*.c
src/caete_module*
src/PLS_MAIN
src/*.obj
src/*.i90
src/*.mod
src/*.npy
src/*.pyf
src/*.pyd
src/*.dll
src/*.so
src/__pycache__
src/*.cfg
src/*.csv
src/pls_data-*
src/*.pkz
src/*.psz
src/*pbz2
src/debug_aux/*.txt
src/windows_utils/__pycache__
src/profiling/__pycache__
src/.python-version
src/execution.log
src/build
src/bbdir
src/builddir
src/tests/__pycache__
src/tests/*.csv
src/tests/*.txt
src/.vscode
src/temp_*
input/temp*

outputs/

.Rhistory
*.Rproj
*.Rdata
.Rproj.user

input/20CRv3-ERA5/*.nc
input/20CRv3-ERA5/**raw
input/20CRv3-ERA5/*clim
input/20CRv3-ERA5/*clim_random
input/MPI-ESM1-2-HR/**raw
input/MPI-ESM1-2-HR/historical/**
input/MPI-ESM1-2-HR/piControl/**
input/MPI-ESM1-2-HR/ssp370/**
input/MPI-ESM1-2-HR/ssp585/**


input/MPI-ESM1-2-HR/*.nc
input/MPI-ESM1-2-HR/historical_random/**
input/MPI-ESM1-2-HR/piCOntrol_random/**
input/MPI-ESM1-2-HR/ssp370_random/**
input/MPI-ESM1-2-HR/ssp585_random/**

input/__pycache__

scripts/*.csv

.copilot*
run_debug
.vscode/c_cpp_properties.json
.vscode/tasks.json
.vscode/settings.json
.vs
.python-version

k34/CO2_AMB_AmzFACE2000_2100.csv
k34/CO2_ELE_AmzFACE2000_2100.csv
k34/MetData_AmzFACE2000_2015_CAETE.csv
