src/*.o
src/*.c
src/PLS_MAIN
src/*.obj
src/*.i90
src/*.mod
src/*.pyf
src/*.pyd
src/*.so
src/__pycache__
src/*.npy
src/*.cfg
src/*.csv
src/pls_data-*
src/*.pkz
src/*.psz
src/*pbz2
outputs/*
src/.python-version
src/execution.log
src/build
src/out_data

input/.python-version
input/20CRv3-ERA5/*_raw/*
input/20CRv3-ERA5/*clim/*
input/20CRv3-ERA5/*clim_test/*

input/MPI-ESM1-2-HR/*_raw/*
input/MPI-ESM1-2-HR/historical/*
input/MPI-ESM1-2-HR/piControl/*

input/MPI-ESM1-2-HR/ssp585/*
input/MPI-ESM1-2-HR/ssp370/*

run_debug
.vscode
.vs
.python-version

k34/CO2_AMB_AmzFACE2000_2100.csv
k34/CO2_ELE_AmzFACE2000_2100.csv
k34/MetData_AmzFACE2000_2015_CAETE.csv
