[multiprocessing]
nprocs=16

[conversion_factors_isimip] # Conversion factors used to convert units of input data
tas = 273.15  # ! K to °C (subtract) [input(K) to model(°C)]
pr = 86400.0  # ! kg m-2 s-1 to mm day-1 (multiply) [input(kg m-2 s-1) to model(mm day-1)]
ps = 0.01  # ! Pa to hPa (multiply) [input(Pa) to model(hPa)]
rhs = 0.01  # ! % to kg kg-1  (multiply) [input(%) to model(kg kg-1)]
rsds = 2.293577981651376e-06 # 0.5 / 2.18e5 ! W m-2 to mol(photons) m-2 day-1 (multiply) [input(W m-2) to model(mol(photons) m-2 day-1)]

[metacomm]
n = 10 # Number of communities to be considered in the metacombinations
npls_max = 300 # Maximum number of PLS to be considered in the metacombinations

[crs]
res = 0.5
xres = 0.5
yres = 0.5

[paths]
output = "../outputs"

[fertilization]
afex_mode =  "N"  # "P" or "NP"
n = 12.5  # (12.5 g m-2 y-1 == 125 kg ha-1 y-1)
p = 5.0   # (5 g m-2 y-1 == 50 kg ha-1 y-1)