numpy
netCDF4
joblib
zstandard
charset-normalizer
numba
pyproj
pandas
polars
pyarrow
meson
ninja
h5py

## Optional requirements
## If you want to build netCDF4 with parallel I/O support, you need to install cython and mpi4py.
## Uninstall the netCDF4 package first, then install the following packages.
## THen you need to follow the instructions in the netCDF4 documentation to build it with parallel I/O support.
# cython
# mpi4py
